@media (max-width: 1000px){

    *{
        padding: 0;
        margin: 0;
    }

    header.scrolled {
        background-color: rgba(255, 255, 255, 0.247); /* Blanco semitransparente */
        backdrop-filter: blur(10px); /* Efecto de desenfoque */
    }

    /* Header inicial */
    header {
        width: 100%;
        position: fixed;
        top: 0;
        height: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;
        background: rgba(255, 255, 255, 0); /* Inicialmente transparente */
        transition: background 0.3s linear;
    }

    .title{
        width: auto;
    }

    h1{
        font-size: 16px;
    }

    .content{
        width: 70%;
    }

    .content-links{
        display: none;
    }


    /* Estilos para el botón del menú */
.btn-bar {
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-bar:hover {
    background-color: #555;
}

/* Estilos para el menú */
.content-links-responsive {
    display: none;
    flex-direction: column;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
}

.content-links-responsive a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.content-links-responsive a:hover {
    background-color: #555;
}

/* Mostrar el menú cuando está activo */
.content-links-responsive.active {
    display: flex;
}
    .btn-bar{
        display: block;
        color: white;
    }

    .presentation{
        height: 100vh;
        padding-top: 8rem;
    }

    .content-responsive{
        display: block;
        width: 100%;
        justify-items: center;
    }

    .img-profile{
        width: 200px;
        height: 250px;
    }

    .description{
        line-height: 23px;
        margin-bottom: 10rem;
    }

    .subtitle{
        line-height: 34px;
    }

    /*Style Tech*/
    .tech{
        background: white;
    }

    .items {
        flex-direction: column;
        align-items: center;
    }
    
    .category {
        width: 80%;
        box-shadow: 0px 4px 10px rgba(25, 6, 51, 0.4);
    }

    .card img {
        width: 50px;
        height: 40px;
        margin-bottom: 10px;
    }

    


    /*Style Footer*/
    .content-footer {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .footer-text {
        font-size: 0.8rem;
    }

    .social-media {
        justify-content: center;
        gap: 10px;
    }

    .social-media a {
        width: 35px;
        height: 35px;
    }

    .footer-text {
        font-size: 0.75rem;
    }

    .social-media a {
        width: 30px;
        height: 30px;
    }

}